@model rsi.Entities.User

@{
    Layout = "~/Areas/backEnd/Views/Shared/_LayoutLogInAccess.cshtml";
}

<div class="col-md-4">
    <div class="loginPage">

        <h2 Style="color:white;"><b>Rosana Scott - Indica</b></h2>
        <h3 Style="color:white;"><b>mensagem de troca de senha enviada com sucesso!!!</b></h3>
        <br />
        <div style="color:white;">
            <p>prezado(a) <b>@Model.UserFirstName</b>, enviamos uma mensagem em seu email <b>@Model.UserEmail</b> com uma senha temporária para que você possa informar uma nova senha e voltar a acessar o sistema, por gentileza, verifique a sua caixa de email.</p>
            <p>caso não encontre a mensagem enviada, por favor, verifique a sua caixa de spams, se realmente não tiver recebido, peço que refaça a solicitação de senha.</p>
            <p>se o problema persistir e não conseguir receber a nossa mensagem, peço que entre em contato com o administrador do sistema.</p>
            <br />
            <hr />
            <ul>
                <li><a href="/backEnd/UserAccounts/Login">ir para a tela de login</a></li>
                <li><a href="/backEnd/UserAccounts/SendNewPassword">retornar para a tela de solicitação de nova senha</a></li>
            </ul>
        </div>

    </div>
</div>
<script src="~/Areas/backEnd/assets/stylesAndScripts/AdminLTE/plugins/jquery/js/jQuery-2.1.4.min.js"></script>
@section scripts{
    <!-- validação dos formulários (jquery validate)-->
    <script src="~/Areas/backEnd/assets/stylesAndScripts/AdminLTE/plugins/jquery-validate/js/jquery.validate.min.js"></script>
    <script src="~/Areas/backEnd/assets/stylesAndScripts/AdminLTE/plugins/jquery-validate/js/jquery.validate.unobtrusive.min.js"></script>
}