
@{
    Layout = null;
}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>versão</b> 1.1.3
    </div>
    <strong>copyrights | RSI by <a href="www.logicinfo.com.br">logicInfo</a> | </strong> todos os direitos reservados.
</footer>
