<link href="~/Areas/backEnd/assets/stylesAndScripts/this/myStyle.css" rel="stylesheet" />
<style>  
    
</style>

<!-- Page Content -->
<div class="container">
    <div class="container">
        <div class="row">
            <div class="hover01 column">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumb">
                    <a href="@Url.Action("Lista","Ofertas", new { id = 1})">
                        <figure>
                            <img class="img-responsive bannerImage" src="~/assets/images/banner-1.jpg" alt="">
                            <figcaption class="myFigureCaption">
                                <h2>Cinema</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumb">
                    <a href="@Url.Action("Lista","Ofertas", new { id = 1})">
                        <figure>
                            <img class="img-responsive bannerImage" src="~/assets/images/banner-2.jpg" alt="">
                            <figcaption class="myFigureCaption">
                                <h2>Divirta-se</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumb">
                    <a href="@Url.Action("Lista","Ofertas", new { id = 1})">
                        <figure>
                            <img class="img-responsive bannerImage" src="~/assets/images/banner-3.jpg" alt="">
                            <figcaption class="myFigureCaption">
                                <h2>Pizzarias</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumb">
                    <a href="@Url.Action("Lista","Ofertas", new { id = 1})">
                        <figure>
                            <img class="img-responsive bannerImage" src="~/assets/images/banner-4.jpg" alt="">
                            <figcaption class="myFigureCaption">
                                <h2>Beleza e Fitness</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
