<a href="" type="button" onclick="EsconderForm('@ViewBag.FormHeaderAux["DivId"]')" class="close linkum" data-dismiss="modal" aria-hidden="true">
    X
</a>
<h4>
   @Html.Partial("~/Areas/backEnd/Views/_partialViews/forms/_headerSecondary.cshtml")   
</h4>
<hr />
