<div class="small-box bg-yellow">
    <div class="inner">
        <h3>@Model</h3>
        <span class="label label-success pull-right" title="mensagens novas">@ViewBag.MessagesToAdvertiserListCountNotRead</span>
        <p>para anunciantes</p>
    </div>
    <div class="icon">
        <i class="ion ion-email"></i>
    </div>
    <a href="/backEnd/EmailBox/List/anunciantes" class="small-box-footer">detalhes <i class="fa fa-arrow-circle-right"></i></a>
</div>
