<div class="small-box bg-green">
    <div class="inner">
        <h3>
            @Model
        </h3>        
        <p>total de anunciantes</p>
    </div>
    <div class="icon">
        <i class="ion ion-person-stalker"></i>
    </div>
    <a href="/backEnd/Advertiser/List" class="small-box-footer">detalhes <i class="fa fa-arrow-circle-right"></i></a>
</div>
